body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#FAF9F6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.light {
  height: 300px;
  width: 100px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
  border-radius: 40px;
}
.circle {
  height: 80px;
  width: 80px;
  border-radius: 30px;
  margin-top: 15px;
  display: block;

}

.center {
  margin: auto;
}
.parent {
  padding-top: 100px;
  text-align: center;
}